<!DOCTYPE html>
<html ng-app="genius-urban-youtube-app">
  <head>
    <!-- injector:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <!-- endinjector -->
    <!-- injector:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <!-- endinjector -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body md-theme="docs-dark" flex>
    <div ng-controller="baseController" layout="column" layout-align="center" flex layout-margin>
      <h1 layout="row" layout-align="center">Genius.com Instant</h1>
      <h2 layout="row" layout-align="center">welcome to my incredible project ! (under construction)</h2>
      <md-content layout-align="left" layout="column" layout-sm="column" style="font-size:1.2em" class="md-padding">
        <md-input-container layout="row" layout-align="left">
          <input ng-model="youtubeUrlMusicClip" ng-change="queryArtistSongs()" autofocus>
          <label layout="column">youtube video clip url: </label>
        </md-input-container>
        <md-progress-circular md-mode="indeterminate" ng-show="toSpin" layout-align="left" style="margin:auto" class="md-hue-2"></md-progress-circular>
        <h4 layout="row" layout-align="left" ng-show="doFail" class="_failure_message">{{failExplanation}}</h4>
        <div ng-repeat="section in lyricsAndExplanations.lyrics.sections" layout="column" layout-align="left" ng-hide="toSpin" class="_genius_sections">
          <h2 layout="row" layout-align="left">{{section.name|normalizeFilter}}</h2>
          <md-button flex ng-repeat="verse in section.verses" ng-if="lyricsAndExplanations.explanations[verse.id]!==undefined &amp;&amp; lyricsAndExplanations.explanations[verse.id]!==''" ng-mouseenter="showAlertt($event, verse)" ng-click="showAlert($event, verse)" layout="row" layout-align="left" class="_genius_verses md-primary">{{verse.content|normalizeFilter}}</md-button>
          <p flex ng-repeat="verse in section.verses" ng-if="lyricsAndExplanations.explanations[verse.id]===undefined || lyricsAndExplanations.explanations[verse.id]===''" layout="row" layout-align="left" class="_genius_verses">{{verse.content|normalizeFilter}}</p>
        </div>
      </md-content>
    </div>
    <script src="js/app.min.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>