doctype html
html(ng-app='genius-urban-youtube-app')
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		<!-- injector:css -->
		<!-- endinjector -->
		<!-- injector:js -->
		<!-- endinjector -->
		link(rel='stylesheet', href='css/style.css')

	body(md-theme="docs-dark", flex)
		div(ng-controller="baseController", layout="column", layout-align="center", flex, layout-margin)
			h1(layout="row", layout-align="center") Genius.com Instant
			h2(layout="row", layout-align="center", style='margin-top:-10px') You're watching to a music video clip on Youtube ? <br/> Only one thing to do: paste the link below and Voila !

			md-content(layout-align="left", class="md-padding", layout="column", layout-sm="column", style="font-size:1.2em")
				md-input-container(layout="row", layout-align="left")
					input(ng-model="youtubeUrlMusicClip", ng-change="queryArtistSongs()", autofocus)
					label(layout="column")
						| youtube video clip url: 

				md-progress-circular(class="md-hue-2", md-mode="indeterminate", ng-show="toSpin", layout-align="left", style="margin:auto")

				h4(layout="row", layout-align="left", ng-show="doFail", class="_failure_message")
					| {{failExplanation}}

				div(ng-repeat="section in lyricsAndExplanations.lyrics.sections",layout="column", layout-align="left", ng-hide="toSpin", class="_genius_sections")
					h2(layout="row", layout-align="left")
						{{section.name|normalizeFilter}}
					md-button(flex,ng-repeat="verse in section.verses",ng-if="lyricsAndExplanations.explanations[verse.id]!==undefined && lyricsAndExplanations.explanations[verse.id]!==''" ng-mouseenter="showAlertt($event, verse)",  ng-click="showAlert($event, verse)", layout="row", layout-align="left", class="_genius_verses md-primary")
						{{verse.content|normalizeFilter}}
					p(flex,ng-repeat="verse in section.verses",ng-if="lyricsAndExplanations.explanations[verse.id]===undefined || lyricsAndExplanations.explanations[verse.id]===''", layout="row", layout-align="left", class="_genius_verses")
						{{verse.content|normalizeFilter}}

		script(src='js/app.min.js')
		script(src='js/analytics.js')
