doctype html
html(ng-app='genius-urban-youtube-app')
	head
		<!-- injector:css -->
		<!-- endinjector -->

		link(rel='stylesheet', href='css/style.css')
		link(rel="icon", type="image/png", href="../favicon.png")

	body(md-theme="docs-dark")
		div(ng-controller="baseController", layout="column", layout-align="center", flex, layout-margin)
			h1(layout="row", layout-align="center") Genius.com, UrbanDictionnary and Youtube mashup
			h2(layout="row", layout-align="center") welcome to my incredible project !


			md-content(layout-align="center", class="md-padding", layout="column", layout-sm="column", style="font-size:1.2em")
				md-input-container(layout="row", layout-align="center")
					input(ng-model="youtubeUrlMusicClip", ng-change="queryArtistSongs()")
					label(layout="column")
						| Copy&Paste a rap music Youtube Url : 

				md-progress-circular(class="md-hue-2", md-mode="indeterminate", ng-show="toSpin", layout-align="center", style="margin:auto")

				div(ng-repeat="section in data.lyricsAndExplanations.lyrics.sections",layout="column", layout-align="center", ng-hide="toSpin")
					h2(layout="row", layout-align="center")
						{{section.name}}
					p(ng-repeat="verse in section.verses",layout="row", layout-align="center")
						{{verse.content}}

		<!-- injector:js -->
		<!-- endinjector -->

		script(src='js/app.js')


